In [6]:
import yfinance as yf
import dask as dd

data_vale = dd.from_pandas(yf.download('VALE', start='2019-01-01', end='2019-12-31'), npartitions=1)

                 Open       High        Low      Close  Adj Close    Volume
Date
2002-03-21   2.250000   2.250000   2.250000   2.250000   0.875150         0
2002-03-22   2.229167   2.229167   2.160833   2.179167   0.847600  44247600
2002-03-25   2.170833   2.187500   2.166667   2.179167   0.847600   7429200
2002-03-26   2.179167   2.237500   2.179167   2.236667   0.869964   4604400
2002-03-27   2.245833   2.312500   2.233333   2.270833   0.883253  13928400
...               ...        ...        ...        ...        ...       ...
2023-10-02  13.330000  13.360000  13.110000  13.220000  13.220000  13755300
2023-10-03  13.030000  13.180000  12.840000  12.880000  12.880000  15291000
2023-10-04  12.860000  12.950000  12.700000  12.760000  12.760000  14998600
2023-10-05  12.720000  12.890000  12.670000  12.780000  12.780000  15367200
2023-10-06  12.710000  13.070000  12.690000  12.980000  12.980000  19671500

[5425 rows x 6 columns]